<a href="https://colab.research.google.com/github/harsh31415926/Deep-Learning/blob/main/YT1_Gradient_descent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab/insurance_data.csv')
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [ ]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train ,y_test = train_test_split(df[['age' , 'affordibility']], df.bought_insurance , test_size = 0.2, random_state = 42)

In [ ]:
X_train_scaled = X_train.copy()
X_train_scaled['age'] = X_train_scaled['age']/100

X_test_scaled = X_train.copy()
X_test_scaled['age'] = X_test_scaled['age']/100

X_train_scaled.head()

     age  affordibility
17  0.58              1
22  0.40              1
11  0.28              1
13  0.29              0
15  0.55              1

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(1,input_shape = (2,) , activation = 'sigmoid' , kernel_initializer = 'ones' , bias_initializer = 'zeros')
])

model.compile(optimizer = 'adam',
              loss = 'binary_crossentropy',
              metrics = ['accuracy'])

model.fit(X_train_scaled , y_train , epochs = 2000)

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 2s 2s/step - accuracy: 0.5000 - loss: 0.7428
Epoch 2/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 115ms/step - accuracy: 0.5000 - loss: 0.7424
Epoch 3/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 74ms/step - accuracy: 0.5000 - loss: 0.7420
Epoch 4/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 140ms/step - accuracy: 0.5000 - loss: 0.7416
Epoch 5/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 66ms/step - accuracy: 0.5000 - loss: 0.7411
Epoch 6/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 157ms/step - accuracy: 0.5000 - loss: 0.7407
Epoch 7/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 145ms/step - accuracy: 0.5000 - loss: 0.7403
Epoch 8/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 85ms/step - accuracy: 0.5000 - loss: 0.7399
Epoch 9/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 88ms/step - accuracy: 0.5000 - loss: 0.7395
Epoch 10/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 134ms/step - accuracy: 0.5000 - loss: 0.7390
Epoch 11/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 81ms/step - accuracy: 0.5000 - loss: 0.7386
Epoch 12/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 91ms/step - accuracy: 0.5000 - loss: 0.7382
Epoch 13/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 79ms/step - accuracy: 0.5000 - loss: 0.7378
Epoch 14/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 81ms/step - accuracy: 0.5000 - loss: 0.7374
Epoch 15/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 83ms/step - accuracy: 0.5000 - loss: 0.7370
Epoch 16/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step - accuracy: 0.5000 - loss: 0.7366
Epoch 17/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 84ms/step - accuracy: 0.5000 - loss: 0.7361
Epoch 18/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 124ms/step - accuracy: 0.5000 - loss: 0.7357
Epoch 19/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step - accuracy: 0.5000 - loss: 0.7353
Epoch 20/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step - accuracy: 0.5000 - loss: 0.7349

In [ ]:
model.evaluate(X_test_scaled , y_train)
X_test_scaled.head()

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 166ms/step - accuracy: 0.5000 - loss: 0.7345

     age  affordibility
17  0.58              1
22  0.40              1
11  0.28              1
13  0.29              0
15  0.55              1

In [ ]:
model.predict(X_test_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step

array([[0.82179016],
       [0.7944746 ],
       [0.7746057 ],
       [0.5656826 ],
       [0.81744343],
       [0.55602735],
       [0.80391026],
       [0.8189014 ],
       [0.8054507 ],
       [0.55602735],
       [0.8023607 ],
       [0.62002945],
       [0.7659352 ],
       [0.81001663],
       [0.5414672 ],
       [0.80391026],
       [0.76240283],
       [0.6383197 ],
       [0.75703585],
       [0.8085038 ],
       [0.75703585],
       [0.62693155]], dtype=float32)

In [ ]:
coef,intercept = model.get_weights()
coef
intercept

array([-0.01996215], dtype=float32)

In [ ]:
def sigmoid(x):
  return 1/(1+math.exp(-x))

In [ ]:
def prediction_function(age , afford):
  weighted_sum = coef[0]*age + coef[1]*afford + intercept
  return sigmoid(weighted_sum)

prediction_function(0.58,1)

/tmp/ipython-input-639064086.py:2: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  return 1/(1+math.exp(-x))

0.8217901913470804

In [ ]:
def log_loss(y_true, y_predicted):
    epsilon = 1e-15
    y_predicted_new = [max(i,epsilon) for i in y_predicted]
    y_predicted_new = [min(i,1-epsilon) for i in y_predicted_new]
    y_predicted_new = np.array(y_predicted_new)
    return -np.mean(y_true*np.log(y_predicted_new)+(1-y_true)*np.log(1-y_predicted_new))

def sigmoid_numpy(x):
    return 1/(1+ np.exp(-1))

sigmoid_numpy([1,2,4,2])

np.float64(0.7310585786300049)

In [ ]:
def gradient_descent(age , afford , epoch , y_true , loss_thresold):
  w1 , w2 = 1 , 1
  bias  = 0
  rate = 0.02
  n = len(age)

  for i in range(epoch):
    weighted_sum = w1*age + w2*afford + bias
    y_predicted = (sigmoid_numpy(weighted_sum))

    loss = log_loss(y_true , y_predicted)
    w1d = (1/n)*np.dot(np.transpose(age),(y_predicted-y_true))
    w2d = (1/n)*np.dot(np.transpose(afford),(y_predicted-y_true))

    bias_d = np.mean(y_predicted-y_true)
    w1 = w1 - rate * w1d
    w2 = w2 - rate * w2d
    bias = bias - rate * bias_d

    print (f'Epoch:{i}, w1:{w1}, w2:{w2}, bias:{bias}, loss:{loss}')

    if loss<=loss_thresold:
      break

  return w1, w2, bias

In [ ]:
gradient_descent(X_train_scaled['age'],X_train_scaled['affordibility'],1000,y_train, 0.4631)

TypeError: 'numpy.float64' object is not iterable

# My own NN from scratch

Here we are going to create a working neural network without using tensorflow or keras , we will only use pure python for this

In [ ]:
class myNN():
  def __init__(self):
    self.w1 = 0
    self.w2 = 0
    self.bias = 1

  def fit(self , x,y , epoch , loss_thresold):
    self.w1 , self.w2 , self.bias = gradient_descent(x['age'] , x['affordibility'] , epoch ,y, loss_thresold)
    print(f'The value of W1 : {self.w1} and W2 : {self.w2} and bias: {self.bias}')

  def predict(self ,x_test):
    weighted_sum = self.w1*x_test['age'] + self.w2*x_test['affordibility'] + self.bias
    return sigmoid_numpy(weighted_sum)